.sidebar{
      z-index: 999999;
      position: fixed;
      top: 84px;
      bottom: -1px;
      padding:0px;
      width: auto;
      background-color: #fff;
      border: 1px solid #ccc;
      box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	  height: 78.5%;

}
.sidebar > .row > .col-xs-12, .sidebar > .row > .col-sm-12, .sidebar > .row > .col-md-12, .sidebar > .row > .col-lg-12 {
      padding:0px;
      position: absolute;
      bottom: 0px;
      top: 0px;
      /*overflow-y: scroll;*/           
}
.sidebar >.row{
      margin:0px;
}

.sidebar {
      width: auto;
}
.sidebar.sidebar-left{
      left:0px;
      right:20px;
}

.sidebar.sidebar-right{
      right:0px;
      left:20px;
}
#test h5{text-align: center;
    font-weight: bold;
    padding: 10px;
    background: #4CAF50;
    color: #fff;
    margin-top: 0px;
    margin-bottom: 0px;}
#test h4{text-align: center;
    font-weight: bold;
    padding: 10px;
    background: #4CAF50;
    color: #fff;
    margin-top: 0px;
    margin-bottom: 0px;}
@media (max-width: 480px) {
.sidebar {width: 230px;top: 62px;}
.sidebar.sidebar-left{left:0px;right:auto;}
.sidebar.sidebar-right{right:0px;left:auto;}
..toggler{top:11% !important;}
}	
@media (max-width: 360px) {
.sidebar {width: 230px;top: 60px;}
.sidebar.sidebar-left{left:0px;right:auto;}
.sidebar.sidebar-right{right:0px;left:auto;}
}
@media (min-width: 528px) {
.sidebar {width: 300px;}
.sidebar.sidebar-left{left:0px;right:auto;}
.sidebar.sidebar-right{right:0px;left:auto;}
}
@media (min-width: 768px) {
.sidebar {width: 230px;top: 64px;}
.sidebar.sidebar-left{left:0px;right:auto;}
.sidebar.sidebar-right{right:0px;left:auto;}
}
@media (min-width: 992px) {
.sidebar {width: 230px;}
.sidebar.sidebar-left{left:0px;right:auto;}
.sidebar.sidebar-right{right:0px;left:auto;}
}
@media (min-width: 1200px) {
.sidebar {width: 230px;top:84px;}
.sidebar.sidebar-left{left:0px;right:auto;}
.sidebar.sidebar-right{right:0px;left:auto;}
}
.toggler{
      -webkit-background-clip: padding-box;
      /*background-clip: padding-box;*/
	  background-color: #555;
      border: 1px solid #31708f;
      width: 26px;
      height: 66px;
      position: absolute;
      top: 36%;
      cursor: pointer;
}
.sidebar-left > .toggler{
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      /*border-left: 1px solid #fff;*/
      box-shadow: 1px 0px 8px rgba(0, 0, 0, .175);
      right: -27px;
} 
.sidebar-left > .toggler > span{color: #fff;margin: 26px 4px;}
.sidebar-left > .toggler > .fa-chevron-right{display:none;}
.sidebar-right > .toggler{border-top-left-radius: 4px;border-bottom-left-radius: 4px;border-right: 1px solid #fff;box-shadow: -1px 0px 8px rgba(0, 0, 0, .175);left: -20px;} 
/*.sidebar-right > .toggler > span{margin:15px 2px;}
.sidebar-right > .toggler > .glyphicon-chevron-left{display:none;}*/
.sidebar .submenu{display: none;position: fixed;} 

/*Native BootStrap Hack*/
.sidebar .list-group-item:last-child, .sidebar .list-group-item:first-child{border-radius:0px;}
.sidebar .list-group{margin-bottom:0px;}
.sidebar .list-group-item{padding: 5px;border: 1px solid #DDD;border-left: 0px;border-right: 0px;margin-bottom: 0px;margin-top: -1px;line-height:15px;}
.sidebar .list-group-item:hover{background: #646464;color: #f0f0f0;}